parameters:
    ignoreErrors:
        -
            identifier: argument.type
            message: '~function parse_str expects string, string\|false given~'
        -
            identifier: argument.type
            message: '~function trim expects string, array~'
        -
            identifier: argument.type
            message: '~Redis::auth\(\) expects string, array~'
